* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.dashboard {
    min-height: 100vh;

    display: grid;

    grid-template-columns: 220px 1fr;
    grid-template-rows: 80px 1fr;
}

header {
    grid-column: 1 / -1;

    display: flex;
    align-items: center;

    padding: 20px;
    background-color: #222;
    color: white;
}

aside {
    background-color: #333;

    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: 20px;
}

aside a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
    padding: 30px;

    background-color: #f2f2f2;
}

.box {
    padding: 30px;

    background-color: white;
    border-radius: 10px;

    transition: 0.3s;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.large {
    grid-column: span 2;
}

@media (max-width: 700px) {

    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    header {
        grid-column: 1;
    }

    aside {
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        grid-template-columns: 1fr;
    }

    .large {
        grid-column: span 1;
    }
}